#cajaupload{
	padding:5px;
	width:100px;
	height:150px;
left:45%;
top:180px;
	position:absolute;
	
	
	
	
}

#fileuploader{
width:200px;
height:100px;	
	top:10px;
	left:0;
	right:0;
	bottom:0;
	
	position:absolute;
opacity:0;
}


#uploadicon{
	font-size:100px;
	position:absolute;
	color:#5bc0de;
        border-color: #46b8da;
}

#header{
	padding:0px;
	background-color:#404040;
	width:100%;
	height:100px;
	margin:0px;
	color:white;
	position:absolute;
}